#presenterTimerDisplay{
    border: 3px solid black;
    width: 100%;
    padding: 5em;
    border-radius: 10px;
}
section.output-row{
    flex-direction: column;
    padding-top: 10%;
}
#presenterSessionNameDisplay{
    text-align: center;
    font-size: 2em;
}
#presenterCountdownDisplay{
    font-size: 3em;
}

@media(max-width: 992px){
    section.output-row{
        padding-top: 20%;
    }
    #presenterSessionNameDisplay{
        font-size: 1.5em;
    }
    #presenterCountdownDisplay{
        font-size: 2em;
    }
}
