#presenterTimerDisplay{
    border: 3px solid black;
    width: 100%;
    padding: 5em;
    border-radius: 10px;
    margin: auto;
    background-color: #6af2024a;
 }
section.output-row{
    flex-direction: column;
    padding-top: 10%;
}
#presenterSessionNameDisplay{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}
#presenterCountdownDisplay{
    font-size: 3em;
    animation:none 1s ease-out 0.5s infinite;
    transition: 0s;
    transform: none;
}

@media(max-width:560px){
    #title h1{
        font-size: 3em;
    }
    *{
        font-size: 8px;
    }
    section.output-row{
        padding-top: 25%;
    }
    #presenterTimerDisplay{
        padding: 5em 0em;
    }
}
@media (min-width: 562px)and(max-width:768px){
    *{
        font-size: 13px;
    }
}
@media (min-width: 992px) and (max-width: 1439px){
    section.output-row{
        padding-top: 15%;
    }
    #presenterTimerDisplay{
        padding: 5em 2em;
    }
    *{
        font-size: 16px;
    }
}
@media(min-width: 1440px) and (max-width: 2357px){
    section.output-row{
        padding-top: 10%;
    }
    
    #presenterTimerDisplay{
        padding: 5em 0em;
    }
    *{
        font-size: 25px;
    }
    #title{
        width: 60%;
    }
}
@media(max-width: 2860px) and (min-width: 2358px){
    #presenterTimerDisplay{
        padding: 5em 0em;
    }
    *{
        font-size: 40px;
    }
}

@keyframes presenterBlink{
    0%{
        color: red;
    }
    20%{
        color: red;
    }
    40%{
        color: red;
    }
    60%{
        color: red;
    }
    100%{
        color: black;
    }
}
